@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .benefits-list {
    gap: 72px 24px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }

  .benefits-list {
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icon {
    display: block;
  }

  .benefits-wrap-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid var(--c-label-text);
    border-radius: 4px;
    background-color: var(--c-light);
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-text {
    font-weight: 400;
  }
}
