/*===== Variables ====== */
:root {
  --c-primary-brand: #4d5ae5;
  --c-pressed-state: #404bbf;
  --c-dark: #2e2f42;
  --c-white: #ffffff;
  --c-success: #31d0aa;
  --c-text: #434455;
  --c-label-text: #8e8f99;
  --c-accent: #e7e9fc;
  --c-light: #f4f4fd;

  --c-modal-grey: rgba(46, 47, 66, 0.4);
  --c-modal-bg: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  --f-size: 16px;
  --line-height: 1.5;
}

body {
  font-family: var(--font-family);
  font-size: var(--f-size);
  letter-spacing: 0.02em;
  line-height: var(--line-height);
  color: var(--c-text);
  background-color: var(--c-white);
}

/*===== Reset start ====== */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: transparent;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*===== Reset end ====== */

/*===== Common start ====== */
.btn {
  font-weight: 500;
  border-radius: 4px;
  line-height: var(--line-height);
  letter-spacing: 0.04em;
  color: var(--c-white);
  background-color: var(--c-primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--c-pressed-state);
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.c-dark {
  color: var(--c-dark);
}

.c-light {
  color: var(--c-light);
}

.section {
  padding: 120px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--c-dark);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*===== Common end ====== */

/*===== Page Header start ====== */
.page-header {
  border-bottom: 1px solid var(--c-accent);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-primary-brand);
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: var(--f-size);
  line-height: var(--line-height);
  color: var(--c-dark);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--c-pressed-state);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .menu-link:hover::after,
.menu-link:focus::after, */
.menu-link.current::after {
  opacity: 1;
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.menu-link.current {
  color: var(--c-pressed-state);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: var(--f-size);
  line-height: var(--line-height);
  color: var(--c-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*===== Page Header end ====== */

/*===== Hero start ====== */
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--c-dark);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--c-white);
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/*===== Hero end ====== */

/*===== Benefits start ====== */
.benefits-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-wrap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid var(--c-label-text);
  border-radius: 4px;
  background-color: var(--c-light);
}

.benefits-subtitle,
.team-subtitle,
.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--c-dark);
}

.benefits-text,
.team-text,
.portfolio-text {
  line-height: var(--line-height);
}
/*===== Benefits end ====== */

/*===== Team start ====== */
.team-section {
  background-color: var(--c-light);
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--c-white);
}

.team-content {
  padding: 32px 0;
  text-align: center;
}

.team-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--c-primary-brand);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--c-pressed-state);
}

.social-icon {
  fill: var(--c-light);
}

/*===== Team end ====== */

/*===== Portfolio start ====== */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px 24px;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  line-height: var(--line-height);
  background-color: var(--c-primary-brand);
  color: var(--c-light);
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--c-accent);
  border-top: none;
}
/*===== Portfolio end ====== */

/*===== Page Footer start ====== */
.page-footer {
  padding: 100px 0;
  background-color: var(--c-dark);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  line-height: var(--line-height);
  color: var(--c-light);
}

.media-text,
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  color: var(--c-white);
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.media-item {
  width: 40px;
  height: 40px;
}

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--c-primary-brand);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: var(--c-success);
}

.media-icon {
  fill: var(--c-light);
}

.subscribe-wrap {
  margin-left: auto;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-label {
  width: 264px;
}

.footer-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border: 1px solid var(--c-white);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
  color: var(--c-white);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--c-white);
}

.footer-input:focus {
  border-color: var(--c-primary-brand);
}

.subscribe-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
}

.subscribe-icon {
  fill: var(--c-white);
  margin-left: 16px;
}
/*===== Page Footer end ====== */

/*===== Modal start ====== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--c-modal-bg);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--c-accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--c-pressed-state);
  border: none;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
  fill: var(--c-white);
}

.modal-text {
  font-weight: 500;
  text-align: center;
  color: var(--c-dark);
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--c-label-text);
  margin-bottom: 4px;
}

.input-box {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 38px;
  border: 1px solid var(--c-modal-grey);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--c-primary-brand);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: var(--c-primary-brand);
}

.modal-textarea-box {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid var(--c-modal-grey);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  background-color: transparent;
  color: var(--c-modal-grey);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--c-primary-brand);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--c-modal-grey);
}

.privacy-checkbox {
  margin-bottom: 24px;
}

.privacy-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--c-label-text);
  cursor: pointer;
}

.privacy-icon-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--c-modal-grey);
  margin-right: 8px;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-input:checked + .privacy-label > .privacy-icon-box {
  fill: var(--c-light);
  background-color: var(--c-pressed-state);
  border: none;
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  color: var(--c-primary-brand);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/*===== Modal end ====== */
